
 /* all */
 
body{
    color:#EAEAEA;
    font-family: "playfair";
}

.bg-custom{
    background-color: #252541;
}

.nav-link{
    color:#EAEAEA
}


/* fotter for all */
footer{
    padding:10px;
    background-color: black;
}
